<h1>Create a profile!</h1>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/"> Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">sign up</li>
    </ol>
</nav>


<div class="row">
    <div class="col-12 col-md-4">
        <img src="/img/EzMealzPictures/pecanPie.jpg" class="img-fluid sticky-top" style="top: 20px;" alt="berries" loading="lazy">
    </div>

    <div class="col-12 col-md-8">
        <div class="row">
            <div class="col-12"> <h1>Sign up!</h1></div>
            <div class="col-12" style="white-space: pre-line;">
                <form action="/auth/create-user" method="post">
                    <input type="text" name ="username" placeholder="username"/>
                    <br>
                    <input type="password" name ="password" placeholder="password"/>
                    <br>
                    <input type="submit" value="create user"/>
                </form>
                
            </div>
        </div>
    </div>

    

</div>