<h1>About</h1>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/"> Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">About </li>
    </ol>
</nav>


<div class="row">
    <div class="col-12 col-md-4">
        <img src="/img/EzMealzPictures/about.jpg" class="img-fluid sticky-top" style="top: 20px;" alt="berries" loading="lazy">
    </div>

    <div class="col-12 col-md-8">
        <div class="row">
            <div class="col-12"> <h1>About EzMealz: </h1></div>
            <div class="col-12" style="white-space: pre-line;">
                <h4 class="text-left">Finding a good recipe can be one of the hardest parts of cooking! 
                    Whether it be that the recipe is more complicated than expected or
                    ingredients are difficult to find, EzMealz takes the hassle out of finding good recipes and we give our users links to ez and delicious recipes! 
                    Every recipe provided was made and vetted to be ez, so start your cooking journey today with an EzMeal!

                    For our subscribers:
                    To unsubscribe, please contact ezmealzcorp@gmail.com
                </h4>
                
            </div>
        </div>
    </div>

    

</div>