<h1>Contact</h1>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/"> Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Contact </li>
    </ol>
</nav>


<div class="row">
    <div class="col-12 col-md-4">
        <img src="/img/EzMealzPictures/contact.jpg" class="img-fluid sticky-top" style="top: 20px;" alt="berries" loading="lazy">
    </div>

    <div class="col-12 col-md-8">
        <div class="row">
            <div class="col-12"> <h1>Contact EzMealz: </h1></div>
            <div class="col-12" style="white-space: pre-line;">
                <h4 class="text-left">
                    Questions, comments, or concerns? Contact us at ezmealzcorp@gmail.com
                
            </div>
        </div>
    </div>

    

</div>